@charset "utf-8";

hr.soften { border: 0; border-top: 1px solid #d8d8d8; }
nav ul.nav li.root a { padding: 10px 50px 11px 50px; }
input.input-block-level { min-height: 0; height: 34px; padding-top: 10px; }
select { padding-top: 2px; }
#lookupForm label { padding: 3px; }
form#catalog-search input[type="text"] {
    padding-top: 10px;
    height: 18px;
    width: 400px;
    float: left;
}