@charset "utf-8";

/* START COLOR CONFIGURATION */

/* Catalog Package Navigation */
.menuContainer ul li a { color: inherit; border-bottom: 1px solid rgba(0,0,0,.1); }
.menuContainer ul li a:active,
.menuContainer a.backMenu:active  { background-color: #DDD; }
.menuContainer a.backMenu { color: white; background-color: #090; }
.menuContainer a.backMenu:active { color: #333; background-color: #090; }
.menuContainer ul li a:active,
.menuContainer ul li a.arrow:active { color: #111; background-color: rgba(0,153,0,0.1); }
.menuContainer .templateButton { color: #666; background-color: #d3d3d3; }
.menuContainer .templateButton:active { color: #fff; background-color: #069; }

/* Catalog Package Search */
.search-header h1 span.sep { color: #bbb; }
.search-header h1 em { color: #777; }
.search-results li { background: #fff; }
.search-results h1,
.search-results p { color: #333; }
.search-results p { color: #999; }
.highlighted { background: yellow; color: #000; }

/* Base Package Login */
form#loginForm fieldset input { background: #f5f5f5; }
form#loginForm fieldset input[type="submit"] { color: #fff; background: #999; }
form#loginForm fieldset input[type="submit"]:hover,
form#loginForm fieldset input[type="submit"]:focus { background: #777; }
form#loginForm fieldset input[type="submit"]:active { background: #666; }

:active

/* END COLOR CONFIGURATION */
/* --------------------------------------------------
 Table of Contents
-----------------------------------------------------
::Basic Styles
::Header
::Footer
::Main Layout
::Dashboard
::Logo
::Breadcrumbs
::Requests Open
::Search
::Tables
::Helper classes

/* ==========================================================================
Basic Styles
========================================================================== */
html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
body {
font: 16px/26px Helvetica,'Helvetica Neue',Arial;
background-color: #FFFFFF;
color: #333;
}

::selection {
color: #fff;
color: rgba(255,255,255,0.85);
background: #090;
}
a {
text-decoration: none;
color: #3D6699;
}

h1{
font-size: 1.1875em; /* 19 / 16 = 1.1875 */
line-height: 1.1;
margin: 0 0 10px 0;
}
p {
font-size: 1em; /* 16 / 16 = 1 */
line-height: 1;
}
ol,ul {
list-style: none;
margin: 0;
padding: 0;
}

.container {
width: 100%;
margin: auto 0;
background: transparent;
}

.wrapper {
padding: 0 0 20px;
}

/* ==========================================================================
Header
========================================================================== */

header {
border-bottom: 1px solid #090;
}

header .wrapper {
padding: 10px 20px 0;
}

header div.dashboard{
padding-top: 0;
}

header nav {
float: none;
}

/* ==========================================================================
Footer
========================================================================== */
footer {
text-align: center;
border-top: 1px solid #e8eae9;
}

footer .wrapper {
width:90%;
padding: 20px 0;
margin: 0 auto;
}

footer nav li {
float:left;
font-size: 0.75em; /* 12 / 16 = 0.75 */
border-right: 1px solid #ddd;
}
footer nav li:last-child {
border-right: none;
}
footer nav li a {
padding: 0 10px;
text-decoration: none;
color: #999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
footer nav li a:hover,
footer nav li a:focus {
color: #333;
}
footer nav li a:active {
color: #666;
}

/* ==========================================================================
Main Layout
========================================================================== */

#sidebar {
width: 100%;
float: left;
padding: 0;
margin: 0;
border: none;
}

#main {
float: left;
width: 100%;
padding: 0 0 40px 0;
background: #fff;
background: rgba(255,255,255,0.6);
}

.mainWrap {
clear: left;
padding: 20px;
}

.templateButton {
float: left;
margin: 0 0 0 3px;
padding: 7px 12px;
font-size: 1em; /* 16 / 16 = 1 */
font-weight: bold;
text-decoration: none;
color: #666;
border: none;
background: #d3d3d3;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.templateButton:hover {
color: #fff;
background: #069;
}

/* ==========================================================================
 Dashboard
========================================================================== */
.dashboard {
padding-top: 10px;
}

.dashboard .nav {
display: block;
float: left;
margin: 0;
}
.dashboard nav{
background: #f3f3f3;
background: rgba(0,0,0,0.05);
margin-left: -20px;
margin-right: -20px;
padding: 10px 20px;
}
.dashboard .nav > li {
float: left;
line-height: 1;
}

.dashboard .nav a,
.dashboard .nav form {
  display: block;
  padding: 6px 10px 5px 10px;
  text-decoration: none;
  color: #999;
}

.dashboard .nav a:hover {
color: white;
text-decoration: none;
}
.dashboard .nav a.menu {
vertical-align: middle;
color: #333;
text-decoration: none;
margin: 0 auto;
padding-left: 25px;
position: relative;
}
.dashboard .nav a.menu span {
background-image: url(../images/menu.png);
background-position: 0 0;
background-repeat: no-repeat;
display: block;
height: 15px;
width: 14px;
position: absolute;
top: 4px;
left: 7px;
}
.nav li.dropdown.open > .dropdown-toggle,
.nav li.dropdown.active > .dropdown-toggle,
.nav li.dropdown.open.active > .dropdown-toggle {
background: #333;
color: #fff;
}
.nav li.dropdown {
position: relative;
}
.nav li.dropdown .btn {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.dropdown-menu {
background-color: #333;
float: left;
left: 0;
display: none;
position: absolute;
top: 27px;
right: 0;
z-index: 900;
min-width: 160px;
max-width: 220px;
_width: 160px;
margin-left: 0;
margin-right: 0;
padding: 6px 0;
zoom: 1;
-moz-border-radius: 0 0 6px 6px;
-webkit-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}

.dropdown-menu li a {
color: #999;
padding: 4px 10px;
text-align: left;
}

.dropdown-menu li a:hover {
color: white;
background-color: #191919;
}
.dropdown-menu li form label input {
float: none;
margin: 0;
width: auto;
}
.dropdown-menu .divider {
height: 1px;
margin: 5px 0;
overflow: hidden;
border-bottom: 1px solid #444;
background-color: #222;
}
.open {
  *z-index: 1000;
}
.open  > .dropdown-menu {
  display: block;
}

/* ==========================================================================
Logo
========================================================================== */
#logo {
margin: 0;
float: none;
text-align: left;
-webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
-moz-transform: scale(0.8); /* FF3.5+ */
-ms-transform: scale(0.8); /* IE9 */
-o-transform: scale(0.8); /* Opera 10.5+ */
transform: scale(0.8);
/* IE6–IE9 */
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

#logo a,
#logo span {
display: block;
text-align: center;
-webkit-transition: opacity 0.2s ease;
-moz-transition: opacity 0.2s ease;
-o-transition: opacity 0.2s ease;
transition: opacity 0.2s ease;
}
#logo a:hover {
opacity: .6;
}

/* ==========================================================================
Breadcrumb
========================================================================== */
nav.breadcrumb {
font-size: 14px;
padding-left: 20px;
color: #ccc;
background: #090;
background: rgba(0,153,0,0.1);
border-bottom: 1px solid rgba(0,0,0,0.1);
}
nav.breadcrumb a {
margin: 0 5px;
text-decoration: none;
color: #3E4549;
}
nav.breadcrumb a:first-child {
margin-left: 0;
}
nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
color: #333;
}
nav.breadcrumb a:active {
color: #090;
}
nav.breadcrumb strong {
margin-left: 5px;
font-weight: bold;
color: #090;
}

/* ==========================================================================
Requests Open
========================================================================== */
.requests {
font-size: .875em; /* 14 / 16 = .875*/
padding: 0 10px 0 10px;
float: right;
display: block;
margin-right: 20px;
background-color: #069;
color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius:4px;
border-radius: 4px;
}
.requests:active,
.requests:hover {
background-color: #090;
color: #fff;
}

/* ==========================================================================
Search
========================================================================== */

/* Search Div in header
-----------------------*/
div.search {
float: none;
width: 100%;
margin: 0 0 0.5em 0;
}
div.search input {
width: auto;
}
form.search fieldset {
margin: 0;
padding: 0;
}
form.search fieldset input[type="text"] {
width: 80%;
padding: 4px;
font-size: .95em; /* 12 / 16 = .75 */
border: 1px solid #ddd;
background: #f5f5f5;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
form.search fieldset input[type="submit"] {
padding: 5px;
font-size: .95em;
color: #fff;
border: none;
background: #999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
form.search fieldset input[type="submit"]:hover,
form.search fieldset input[type="submit"]:focus {
background: #777;
}
form.search fieldset input[type="submit"]:active {
background: #666;
}

/* ==========================================================================
Tables
========================================================================== */
table {
background: #fff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin: 0 0 20px;
border: 1px solid rgba(0,0,0,0.1);
}

table thead,table tfoot {
background: #f5f5f5;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
font-size: 0.75em; /* 12 / 16 = .75 */
line-height: 1.125em; /* 18 / 16 = 1.125 */
text-align: left;
}
table thead tr th,
table tfoot tr td {
padding: 8px 10px 9px;
font-size: .875em; /* 14 / 16 = .875 */
font-weight: bold;
color: #222;
}
table thead tr th:first-child,table tfoot tr td:first-child {
border-left: none;
}
table thead tr th:last-child,table tfoot tr td:last-child {
border-right: none;
}

table tbody tr.even,
table tbody tr.alt {
background: #f9f9f9;
}
table tbody tr:nth-child(even) {
background: #f9f9f9;
}
table tbody tr td {
color: #333;
padding: 9px 10px;
vertical-align: top;
border: none;
}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
display: none;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}

.clearfix:after {
clear: both;
}

.clearfix {*zoom:1;
}

/* ==========================================================================
Alerts
========================================================================== */
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}

.alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.alert {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
}

.alert .close {
    line-height: 20px;
    position: relative;
    right: -21px;
    top: 2px;
}

.alert .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.alert .close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* Gradient styles */
.gradient {
    background: #F5F5F5; /* Old browsers */
    background: -moz-linear-gradient(top,  #F5F5F5 0%, #ECECEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#ECECEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F5F5F5 0%,#ECECEC 100%); /* W3C */ 
}

/* Borders */
.border { border-style: solid; border-width: 1px; border-color: #e3e3e3; }
.borderRight { border-right-style: solid; border-right-width: 1px; border-right-color: #e3e3e3; }
.borderLeft { border-left-style: solid; border-left-width: 1px; border-left-color: #e3e3e3; }
.borderTop { border-top-style: solid; border-top-width: 1px; border-top-color: #e3e3e3; }
.borderBottom { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e3e3e3; }

/* Rounded corners */
.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/* Box shadow */
.boxShadow {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}