/* Submissions */
#submissions {
    font-size: 12px;
    margin: 10px 10px 10px 0;
    width: 780px;
    float: left;
}
#submissions table { width: 780px; }
#submissions table tbody tr td { padding: 10px; }

.dataTables_wrapper .ui-toolbar { padding: 5px; }
div.dataTables_wrapper .ui-widget-header { font-weight: normal; }
.css_right { float: right; }
table tr { cursor: pointer; }
/* completed approvals, approvals-completed class added by data tables callback in submissions.js */
table.approvals-completed tbody tr { cursor: auto; }
table.approvals-completed tbody tr.odd:hover { color: #000000; }
table.approvals-completed tbody tr.even:hover { color: #000000; }
table.approvals-completed tbody tr.odd td.sorting_1:hover { color: #000000; }

/* Pagination */
.dataTables_paginate { padding-top: 0; float: right; text-align: right; }
.paging_full_numbers .ui-button { padding: 2px 6px; margin: 0; cursor: pointer; }
.dataTables_paginate .ui-button { margin-right: -0.1em !important; }
.paging_full_numbers { width: 350px !important; }

 /* Processing Message */
.dataTables_processing {
    color: black;
    float: left;
    width: 250px;
    text-align: center;
    font-size: 11px;
}

/* Entries selection for datatables */
.dataTables_length { width: 40%; float: left; }

/* Search */
.dataTables_filter { width: 50%; float: right; text-align: right; }

/* Info displayed in footer */
.dataTables_info { width: 50%; float: left; padding-top: 3px; }

/* Submissions Navigation */
nav.submissions-navigation ul {
    float: left;
}
nav.submissions-navigation ul li {
    padding: 0 0 10px 0;
}
nav.submissions-navigation ul li a {
    display: inline-block;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}
nav.submissions-navigation ul li a:hover { background-color: #3D6699; color: white; text-decoration: none; }
nav.submissions-navigation ul li a.active  { background-color: #3D6699; color: white; }

/*  Submission details, wrap created by javascript in submissions.js */
div.submission-details-wrap { padding: 5px; overflow-y: scroll; }
div.submission-details-wrap div#loader { float: none; width: auto; }
div.submission-details-wrap .header { font-size: 1.1em; padding: 5px; }
div.submission-details-wrap a:hover { text-decoration: underline; }
div.submission-details-wrap header.header div.service-item-name { float: left; margin-right: 150px; }
div.submission-details-wrap header.header div.options { float: right; text-align: right; }
div.submission-details-wrap header.header div.options div.request-id,
div.submission-details-wrap header.header div.options div.cancel-request { width: 150px; }
div.submission-details-wrap div.info { padding: 5px; }
div.submission-details-wrap div.label { float: left; font-weight: bold; width: 150px; }
div.submission-details-wrap div.link { float: none; font-weight: bold; width: 150px; }
div.submission-details-wrap div.value { margin-left: 150px; }
div.submission-details-wrap div.tasks div.task {
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    padding: 5px;
}

/* Clearfix, for floats */
div.submission-details-wrap div.wrap { *zoom: 1; }
div.submission-details-wrap div.wrap:before,
div.submission-details-wrap div.wrap:after {
    display: table;
    content: "";
    line-height: 0;
}
div.submission-details-wrap div.wrap:after {
    clear: both;
}
*:first-child+html div.submission-details-wrap div.wrap { zoom: 1; } /* IE7 */

/* Worklogs */
div.submission-details div.tasks div.task div.worklogs div.worklogs-expand {
    font-weight: bold;
}
div.submission-details div.tasks div.task div.worklogs div.worklog {
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 5px 0 5px;
    border-color: #C8C8C8;
}
div.submission-details div.tasks div.task div.worklogs div.even { background-color: rgb(238, 238, 238); }
div.submission-details div.tasks div.task div.worklogs div.odd { background-color: rgb(216, 216, 216); }
#loader {
    float: left;
    width: 790px;
    text-align: center;
    margin: 20px 0 0 0;
}
section h3 {
    margin: 40px 0 0 0; 
    text-align: justify;
    float: left;
    width: 790px;
}